<p id="notice"><%= notice %></p>


<p>
  <b>Author:</b>
  <%= @quote.author %>
</p>

<p>
  <b>Quote:</b>
  <%= @quote.quote %>
</p>



<% if !current_user.nil? %>   
<h4>Click The link below to send a tweet.</h4>  
<%= link_to "Send a Tweet", new_tweet_path %>
<% else %>  
<p style="color: red;">You must log in to send a tweet!</p>
<% end %>


<%= link_to 'Back', quotes_path %>
