<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @quote.id %>
</p>

<p>
  <b>Author:</b>
  <%= @quote.author %>
</p>

<p>
  <b>Quote:</b>
  <%= @quote.quote %>
</p>



<% if !current_user.nil? %>   
<p>Click The link below to send a tweet.</p>  
<%= link_to "Send a Tweet", new_tweet_path %>
<% else %>  
<p>You must log in to send a tweet.</p>
<% end %>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
